:development:
  :token: 開発環境用のアクセストークン
  :endpoint: 開発環境用のendpoint(例: https://api.github.com)
:test:
  :token: テスト環境用のアクセストークン
  :endpoint: テスト環境用のendpoint
:production:
  :token: 本番環境用のアクセストークン
  :endpoint: 本番環境用のendpoint
